@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #212529;
  --secondary-color: #6c757d;
  --tertiary-color: #ffffff;
  --quaternary-color: #f4f4f4;
  --hover-color: #0d6efd;

  --fonte-primaria: "Montserrat", serif;
  --fonte-secundaria: "Open Sans", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--primary-color);
  padding: 1.25rem 0% 1.25rem 15%;
}

.navbar a {
  color: var(--tertiary-color);
  padding: 0.625rem;
  margin-right: 1.625rem;
  text-decoration: none;
  font-family: var(--fonte-primaria);
  font-size: 1.125rem;
  font-weight: 600;
  border: 0.125rem solid transparent;
}

.navbar a:hover {
  color: var(--hover-color);
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  border-color: var(--hover-color);
}

#apresentacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 5% 15%;
  gap: 50px;
}
.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  text-align: justify;
}

.apresentacao__conteudo__titulo {
  color: var(--primary-color);
  font-family: var(--fonte-primaria);
  font-size: 2.25rem;
  font-weight: 600;
}

.apresentacao__conteudo__texto {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

.apresentacao__imagem {
  width: 50%;
  border-radius: 50%;
}

.secao-titulo {
  font-family: var(--fonte-primaria);
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary-color);
  padding-top: 5%;
  padding-bottom: 35px;
  text-align: center;
}

.secao-subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 35px;
}

.secao-texto {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--primary-color);
  margin: 0 10%;
}

.carrossel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.carrossel__interno {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel__item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.carrossel__item img {
  max-width: 20%;
}

.carrossel__controle__prev,
.carrossel__controle__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
}

.carrossel__controle__prev {
  left: 10px;
}

.carrossel__controle__next {
  right: 10px;
}

.carrossel__controle__prev:hover,
.carrossel__controle__next:hover {
  background-color: var(--hover-color);
}

.timeline-container {
  width: 100%;
  overflow-x: auto;
  position: relative;
  padding: 20px 0;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}

.timeline__item {
  flex: 1;
  text-align: center;
}

.timeline__conteudo {
  padding: 20px;
  border-radius: 8px;
}

.timeline__conteudo img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.timeline__divisor {
  display: flex;
  align-items: center;
  gap: 8px;
}

.timeline__divisor .dot {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%;
}

#trajetoria {
  background-color: var(--quaternary-color);
}

#curiosidade {
  background-color: var(--secondary-color);
}

#curiosidade h2 {
  color: var(--quaternary-color);
  padding-bottom: 4.5rem;
}

.curiosidade__conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.curiosidade__conteudo div {
  flex: 1;
  padding: 50px 20px;
  margin: 20px;
  border-radius: 8px;
  background-color: var(--hover-color);
  color: var(--tertiary-color);
}

.curiosidade__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.curiosidade__texto {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0 10%;
}

.curiosidade__subtexto {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 1rem;
  margin: 30px 10%;
}

.curiosidade__imagem {
  width: 100%;
}

#skills {
  background-color: var(--primary-color);
  text-align: center;
}

#skills h2 {
  color: var(--tertiary-color);
  padding-bottom: 1.5rem;
}

#skills h3 {
  color: var(--tertiary-color);
}

.skills__conteudo {
  display: flex;
  justify-content: space-around;
  gap: 200px;
  padding: 2%;
  background-color: var(--primary-color);
}

.hard-skills,
.soft-skills {
  padding: 20px;
  width: 50%;
  border-radius: 8px;
}

.habilidade {
  margin: 20px 0;
  text-align: left;
}

.habilidade__nome {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: var(--tertiary-color);
}

.barra-progresso {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 5px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.progresso {
  height: 100%;
  width: 0%; /*começa com 0 para ser animada com o js*/
  background-color: var(--hover-color);
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}

.carrossel-hard-skills {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.carrossel__interno-hard-skills {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel__item-hard-skills {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 1%;
}

.carrossel__controle__prev-hard-skills,
.carrossel__controle__next-hard-skills {
  position: absolute;
  top: 5%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  z-index: 1;
}

.carrossel__controle__prev-hard-skills {
  left: 10px;
}

.carrossel__controle__next-hard-skills {
  right: 10px;
}

.carrossel__controle__prev-hard-skills:hover,
.carrossel__controle__next-hard-skills:hover {
  background-color: var(--hover-color);
}

.carrossel-soft-skills {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.carrossel__interno-soft-skills {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel__item-soft-skills {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 5%;
}

.carrossel__controle__prev-soft-skills,
.carrossel__controle__next-soft-skills {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  z-index: 1;
}

.carrossel__controle__prev-soft-skills {
  left: 10px;
}

.carrossel__controle__next-soft-skills {
  right: 10px;
}

.carrossel__controle__prev-soft-skills:hover,
.carrossel__controle__next-soft-skills:hover {
  background-color: var(--hover-color);
}

.soft-skills__lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.soft-skills__texto {
  font-family: var(--fonte-secundaria);
  color: var(--tertiary-color);
  text-align: justify;
  padding: 0 10% 20px 10%;
}

.soft-skill {
  font-family: var(--fonte-secundaria);
  font-size: 1.2rem;
  color: var(--tertiary-color);
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.soft-skills h3 {
  padding-top: 1%;
}

.soft-skill.visible {
  opacity: 1;
  transform: translateX(0);
}

.projetos {
  display: flex;
  padding: 2%;
}

.projetos .projetos__projeto {
  flex: 1;
  padding: 50px 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 15px 6px 4px var(--primary-color);
  border-width: 5px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

.projetos__projeto {
  text-align: center;
  width: 100%;
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projetos__projeto img {
  width: 100%;
  border-radius: 10px;
}

.projetos__projeto p,
img {
  margin-bottom: 5%;
}

.projetos__descricao {
  font-family: var(--fonte-secundaria);
  columns: var(--primary-color);
  font-weight: 400;
  font-size: 1.2rem;
  width: 90%;
}

.projetos__tecnologia h4 {
  font-family: var(--fonte-primaria);
}

.projetos__tecnologia__lista {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.projetos__tecnologia__lista__item {
  font-family: var(--fonte-secundaria);
  color: var(--tertiary-color);
  font-weight: 500;
  font-size: 1rem;
  padding: 10px;
  background-color: var(--hover-color);
  margin: 13px 5px 0 5px;
  border-radius: 8px;
}

.projetos__botoes {
  display: flex;
  padding: 5% 0 0 0;
}

.projetos__botoes__botao {
  text-decoration: none;
  color: var(--tertiary-color);
  font-family: var(--fonte-secundaria);
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 20px 50px;
  margin: 0 5px 0 5px;
  border-radius: 50px;
}

.projetos__botoes__botao:hover {
  background-color: var(--hover-color);
}
