@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #212529;
  --secondary-color: #6c757d;
  --tertiary-color: #ffffff;
  --quaternary-color: #f4f4f4;
  --hover-color: #0d6efd;
  --social-media-hover-color: #808080;

  --fonte-primaria: "Montserrat", serif;
  --fonte-secundaria: "Open Sans", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--primary-color);
  padding: 1.25rem 14%;
  justify-content: left;
}

.navbar a {
  color: var(--tertiary-color);
  padding: 0.625rem;
  margin: 0.5rem;
  text-decoration: none;
  font-family: var(--fonte-primaria);
  font-size: 1.125rem;
  font-weight: 600;
  border: 0.125rem solid transparent;
}

.navbar a:hover {
  color: var(--hover-color);
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  border-color: var(--hover-color);
}

/* Apresentação */
#apresentacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 5% 15%;
  gap: 50px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
}

.apresentacao__conteudo__titulo {
  color: var(--primary-color);
  font-family: var(--fonte-primaria);
  font-size: 2.25rem;
  font-weight: 600;
}

.apresentacao__conteudo__texto {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

.apresentacao__imagem {
  width: 50%;
  border-radius: 50%;
}

/* Seções */
.secao-titulo {
  font-family: var(--fonte-primaria);
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary-color);
  padding-top: 5%;
  padding-bottom: 35px;
  text-align: center;
}

.secao-subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 35px;
}

.secao-texto {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0 10%;
}

/* Carrosséis, timelines e controles */
.carrossel__trajetoriaECuriosidade {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.carrossel__trajetoriaECuriosidade__interno {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel__trajetoriaECuriosidade__item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.carrossel__trajetoriaECuriosidade__item img {
  max-width: 20%;
}

.carrossel__controle__prev,
.carrossel__controle__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;

  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
}

.carrossel__controle__prev {
  left: 10px;
}

.carrossel__controle__next {
  right: 10px;
}

.carrossel__controle__prev:hover,
.carrossel__controle__next:hover {
  background-color: var(--hover-color);
}

.timeline-container {
  width: 100%;
  overflow-x: auto;
  position: relative;
  padding: 20px 0;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}

.timeline__item {
  flex: 1;
  text-align: center;
}

.timeline__conteudo {
  padding: 20px;
  border-radius: 8px;
}

.timeline__conteudo img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.timeline__divisor {
  display: flex;
  align-items: center;
  gap: 8px;
}

.timeline__divisor .dot {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%;
}

#trajetoria {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
}

#curiosidade {
  background-color: var(--secondary-color);
}

#curiosidade h2 {
  color: var(--quaternary-color);
  padding-bottom: 4.5rem;
}

.curiosidade__conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.curiosidade__conteudo div {
  flex: 1;
  padding: 50px 20px;
  margin: 20px;
  border-radius: 8px;
  background-color: var(--hover-color);
  color: var(--tertiary-color);
}

.curiosidade__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--quaternary-color);
}

.curiosidade__texto {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0 10%;
}

.curiosidade__subtexto {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 1rem;
  margin: 30px 10%;
}

.curiosidade__imagem {
  width: 100%;
}

/* Skills */
#skills {
  background-color: var(--primary-color);
  text-align: center;
}

#skills h2 {
  color: var(--tertiary-color);
  padding-bottom: 1.5rem;
}

#skills h3 {
  color: var(--tertiary-color);
}

.skills__conteudo {
  display: flex;
  justify-content: space-around;
  gap: 200px;
  padding: 2%;
  background-color: var(--primary-color);
}

.hard-skills,
.soft-skills {
  padding: 20px;
  width: 50%;
  border-radius: 8px;
}

.habilidade {
  margin: 20px;
  text-align: left;
}

.habilidade__nome {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: var(--tertiary-color);
}

.barra-progresso {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 5px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.progresso {
  height: 100%;
  width: 0%; /*começa com 0 para ser animada com o js*/
  background-color: var(--hover-color);
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}

/* Carrossel Hard e Soft Skills */
.carrossel-hard-skills,
.carrossel-soft-skills {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.carrossel__interno-hard-skills,
.carrossel__interno-soft-skills {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel__item-hard-skills,
.carrossel__item-soft-skills {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 1%;
}

.carrossel__controle__prev-hard-skills,
.carrossel__controle__next-hard-skills {
  top: 5%;
}

.carrossel__controle__prev-soft-skills,
.carrossel__controle__next-soft-skills {
  top: 25%;
}

.soft-skills__lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.soft-skills__texto {
  font-family: var(--fonte-secundaria);
  color: var(--tertiary-color);
  text-align: justify;
  padding: 0 10% 20px 10%;
}

.soft-skill {
  font-family: var(--fonte-secundaria);
  font-size: 1.2rem;
  color: var(--tertiary-color);
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.soft-skills h3 {
  padding-top: 1%;
}

.soft-skill.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Projetos */
.projetos {
  display: flex;
  padding: 2%;
}

.projetos .projetos__projeto {
  flex: 1;
  padding: 50px 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 15px 6px 4px var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.projetos__projeto img {
  width: 100%;
  border-radius: 10px;
}

.projetos__descricao {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 1.2rem;
  width: 90%;
}

.projetos__tecnologia h4 {
  font-family: var(--fonte-primaria);
}

.projetos__tecnologia__lista {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.projetos__tecnologia__lista__item {
  font-family: var(--fonte-secundaria);
  color: var(--tertiary-color);
  font-weight: 500;
  font-size: 1rem;
  padding: 10px;
  background-color: var(--hover-color);
  margin: 13px 5px 0 5px;
  border-radius: 8px;
}

.projetos__botoes {
  display: flex;
  padding: 5% 0 0 0;
}

.projetos__botoes__botao {
  text-decoration: none;
  color: var(--tertiary-color);
  font-family: var(--fonte-secundaria);
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 20px 50px;
  margin: 0 5px;
  border-radius: 50px;
}

.projetos__botoes__botao:hover {
  background-color: var(--hover-color);
}

/* Contact */
#contact {
  background-color: var(--quaternary-color);
}

#contact h2 {
  color: var(--primary-color);
}

.redes-contato {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.redes-contato a {
  text-decoration: none;
  color: var(--primary-color);
}

.redes-contato__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 50px;
  padding: 20px 50px;
  width: 200px;
  border: 5px solid transparent;
}

.redes-contato__item a:hover {
  border: 5px solid var(--social-media-hover-color);
  border-radius: 50px;
  color: var(--social-media-hover-color);
}

.redes-contato__imagem {
  width: 100%;
  margin-bottom: 25px;
}

/* Back to top */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: var(--secondary-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  z-index: 1000;
}

#back-to-top img {
  width: 24px;
  height: 24px;
}

#back-to-top:hover {
  background-color: var(--hover-color);
}

/* Mapa Interativo */
#IE {
  background-color: var(--secondary-color);
}

#IE h2 {
  color: var(--quaternary-color);
}

.mapaInterativo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapid {
  height: 500px;
  width: 50%;
  border-radius: 8px;
  margin: 50px;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  padding: 10px 0;
  position: relative;
}

.rodape-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  color: var(--tertiary-color);
  font-family: var(--fonte-secundaria);
}

.rodape-links a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.rodape-links a:hover {
  color: var(--hover-color);
}

.rodape-redes {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-rodape {
  width: 30px;
  height: auto;
  padding: 0 5px;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  /* Navbar ajustada */
  .navbar {
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
  }
  .navbar a {
    margin: 0.3rem;
  }

  /* Apresentação em coluna */
  #apresentacao {
    flex-direction: column;
    padding: 5% 5%;
    text-align: center;
  }
  .apresentacao__conteudo {
    width: 100%;
  }
  .apresentacao__imagem {
    width: 80%;
    margin: 20px auto;
  }

  /*Trajetoria  e Curiosidade*/

  .carrossel__trajetoriaECuriosidade .carrossel__controle__prev,
  .carrossel__trajetoriaECuriosidade .carrossel__controle__next {
    top: 10%;
  }

  /*Timeline*/
  .timeline {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .timeline__divisor {
    flex-direction: column;
    gap: 10px;
  }

  .timeline__item {
    width: 30%;
    text-align: center;
  }

  /* Ajuste em Skills e Projetos */
  .skills__conteudo {
    flex-direction: column;
    gap: 20px;
    padding: 2%;
  }
  .hard-skills,
  .soft-skills {
    width: 90%;
    margin: 0 auto;
  }
  .projetos {
    flex-direction: column;
    gap: 20px;
  }
  .projetos .projetos__projeto {
    width: 90%;
    margin: 10px auto;
  }

  .redes-contato__item a {
    width: 80px;
    padding: 20px 10px;
  }

  /* Ajuste do mapa */
  #mapid {
    width: 90%;
    height: 300px;
    margin: 20px auto;
  }

  /*Footer*/

  footer {
    padding: 20px;
  }

  footer .rodape-links {
    flex-direction: row;
    gap: 5px;
    justify-content: right;
    font-size: 0.7rem;
  }

  #back-to-top {
    right: 50px;
    bottom: 40px;
  }
}

@media (max-width: 480px) {
  .apresentacao__conteudo__titulo {
    font-size: 1.8rem;
  }
  .apresentacao__conteudo__texto {
    font-size: 1.2rem;
  }
  .secao-titulo {
    font-size: 1.5rem;
    padding-top: 2%;
    padding-bottom: 20px;
  }
  .secao-subtitulo {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }
  .navbar a {
    font-size: 0.9rem;
  }

  .timeline__item {
    width: 70%;
  }

  /* Seção de Curiosidades: empilhar os containers verticalmente */
  .curiosidade__conteudo {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }

  /* Ajuste dos containers individuais */
  .curiosidade__container {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--hover-color);
  }

  /* Redução do tamanho do texto se necessário */
  .curiosidade__subtexto {
    font-size: 1rem;
    text-align: justify;
  }

  /* Ajuste das imagens para que não ultrapassem o container e fiquem centralizadas */
  .curiosidade__imagem {
    width: 80%;
    margin: 10px auto;
    display: block;
  }

  /* Centraliza os títulos dos containers */
  .curiosidade__container h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  .carrossel__controle__prev-soft-skills,
  .carrossel__controle__next-soft-skills {
    top: 20%;
  }

  .carrossel__controle__prev-soft-skills {
    left: -5px;
  }
  .carrossel__controle__next-soft-skills {
    right: -5px;
  }

  .projetos__descricao {
    font-size: 1rem;
  }

  .redes-contato__item {
    width: 10px;
  }

  .redes-contato__item a {
    margin: 10px 0;
    padding: 10px;
    width: auto;
  }

  .redes-contato__imagem {
    width: 60px;
    margin-bottom: 10px;
  }

  /*Footer*/

  footer {
    padding: 20px;
    text-align: center;
  }

  /* Redes sociais: centraliza e ajusta margens */
  .rodape-redes {
    position: static;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }

  .rodape-redes img {
    width: 24px;
    height: auto;
    margin: 0 5px;
  }

  /* Links do footer: empilha verticalmente e centraliza */
  .rodape-links {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 0.6rem;
  }

  #back-to-top {
    bottom: 60px;
  }
}
